<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luweh Tenan</title>
    <link rel="icon" href="/favicons/favicon.ico" type="image/x-icon">
</head>

<body>
    <header class="header">
        <a href="#content" class="skip-link">next Restaurant ?</a>
        <div class="menuresto">
            <div class="menu-tombol" id="menu"><a href="#">☰</a></div>
            <div class="">Luweh Tenan</div>
            <div class=""></div>
        </div>
    </header>
    <nav class="nav" id="drawer">
        <a class="logo" href="">Luweh Tenan</a>
        <ul class="nav-list">
            <li class="nav-item"><a href="index.html">Home</a></li>
            <li class="nav-item"><a href="#">Favorite</a></li>
            <li class="nav-item"><a target="_blank" href="https://www.instagram.com/_5glittery/">About Us</a></li>
        </ul>
    </nav>
    <div class="hero">
        <div class="header-inner">
            <h1 class="header-title">"Luweh Tenan"</h1>
            <h3 class="header-sub">SUGENG RAWUH</h3>
            <p class="header-sub">Wedangan | Gorengan | Sego Kucing</p>
        </div>
    </div>
    <main id="content">
        <section class="content">
            <div class="latest">
                <h2>Luweh Tenan list</h2>
                <div class="list" id="tes"></div>
            </div>
        </section>
    </main>
    <footer>
        <p>Copyright © 2023 - Luweh Tenan</p>
    </footer>
</body>

</html>